# Introduction To Probability
## Challenge 1

A and B are events of a probability space with $(\omega, \sigma, P)$ such that $P(A) = 0.3$, $P(B) = 0.6$ and $P(A \cap B) = 0.1$

Which of the following statements are false?
* $P(A \cup B) = 0.6$
* $P(A \cap B^{C}) = 0.2$
* $P(A \cap (B \cup B^{C})) = 0.4$
* $P(A^{C} \cap B^{C}) = 0.3$
* $P((A \cap B)^{C}) = 0.9$

In [20]:
"""
P (A) = 0.3
P (B) = 0.6
P (A intersect B) = 0.1

P (A union B) = P (A) + P (B) - P (A intersect B)

P (A union B) = 0.3 + 0.6 - 0.1
P (A union B) = 0.8

FALSE

-------------------

P (B') = 0.4

P (A intersect B') = P (A) - P (A intersect B)

P (A intersect B') = 0.3 - 0.1
P (A intersect B') = 0.2

TRUE

---------------------

P (B union B') = 1

P (A intersect 1) = P (A)
P (A) = 0.3

FALSE

----------------------

P (A union B) = 0.8

P (A' intersect B') = 1 - 0.8
P (A' intersect B') = 0.2

FALSE

----------------------


P (A intersect B) = 0.1
p (A intersect B)' = 0.9


TRUE



"""

"\nP (A) = 0.3\nP (B) = 0.6\nP (A intersect B) = 0.1\n\nP (A union B) = P (A) + P (B) - P (A intersect B)\n\nP (A union B) = 0.3 + 0.6 - 0.1\nP (A union B) = 0.8\n\nFALSE\n\n-------------------\n\nP (B') = 0.4\n\nP (A intersect B') = P (A) - P (A intersect B)\n\nP (A intersect B') = 0.3 - 0.1\nP (A intersect B') = 0.2\n\nTRUE\n\n---------------------\n\nP (B union B') = 1\n\nP (A intersect 1) = P (A)\nP (A) = 0.3\n\nFALSE\n\n----------------------\n\nP (A union B) = 0.8\n\nP (A' intersect B') = 1 - 0.8\nP (A' intersect B') = 0.2\n\nFALSE\n\n----------------------\n\n\nP (A intersect B) = 0.1\np (A intersect B)' = 0.9\n\n\nTRUE\n\n\n\n"

## Challenge 2
There is a box with 10 white balls, 12 red balls and 8 black balls. Calculate the probability of:
* Taking a white ball out.
* Taking a white ball out after taking a black ball out.
* Taking a red ball out after taking a black and a red ball out.
* Taking a red ball out after taking a black and a red ball out with reposition.

**Hint**: Reposition means putting back the ball into the box after taking it out.

In [19]:
"""
W+R+B=30


P (W) = 10/30
P (R) = 12/30
P (B) = 8/30

TAKING A WHITE BALL OUT: 1/3

TAKING A WHITE BALL OUT AFTER TAKING A BLACK BALL OUT: 10/29

TAKING A RED BALL OUT AFTER TAKING A BLACK AND RED BALL OUT: 11/28

TAKING A RED BALL OUT AFTER TAKING A BLACK AND A RED BALL OUT WITH REPOSITION: 12/30



"""

'\nW+R+B=30\n\n\nP (W) = 10/30\nP (R) = 12/30\nP (B) = 8/30\n\nTAKING A WHITE BALL OUT: 1/3\n\nTAKING A WHITE BALL OUT AFTER TAKING A BLACK BALL OUT: 10/29\n\nTAKING A RED BALL OUT AFTER TAKING A BLACK AND RED BALL OUT: 11/28\n\nTAKING A RED BALL OUT AFTER TAKING A BLACK AND A RED BALL OUT WITH REPOSITION: 12/30\n\n\n\n'

## Challenge 3

You are planning to go on a picnic today but the morning is cloudy. You hate rain so you don't know whether to go out or stay home! To help you make a decision, you gather the following data about rainy days:

* Knowing that it is a rainy day, the probability of cloudy is 50%!
* The probability of any day (rainy or not) starting off cloudy is 40%. 
* This month is usually dry so only 3 of 30 days (10%) tend to be rainy. 

What is the probability of rain, given the day started cloudy?

In [18]:
"""
P (C|R) = 0.5
P (C) = 0.4
P (R) = 0.1

P (R|C) = ?

P (C|R) = P (C intersect R) / P (R)
0.5 = P (C intersect R) / 0.1
0.5*0.1 = P (C intersect R)
0.05 = P (C intersect R)

P (R|C) = 0.05 / P (C)
P (R|C) = 0.05 / 0.4

P (R|C) = 0.125

"""

'\nP (C|R) = 0.5\nP (C) = 0.4\nP (R) = 0.1\n\nP (R|C) = ?\n\nP (C|R) = P (C intersect R) / P (R)\n0.5 = P (C intersect R) / 0.1\n0.5*0.1 = P (C intersect R)\n0.05 = P (C intersect R)\n\nP (R|C) = 0.05 / P (C)\nP (R|C) = 0.05 / 0.4\n\nP (R|C) = 0.125\n\n'

## Challenge 4

One thousand people were asked through a telephone survey whether they thought more street lighting is needed at night or not.

Out of the 480 men that answered the survey, 324 said yes and 156 said no. On the other hand, out of the 520 women that answered, 351 said yes and 169 said no. 

We wonder if men and women have a different opinions about the street lighting matter. Is gender relevant or irrelevant to the question?

Consider the following events:
- The answer is yes, so the person that answered thinks that more street lighting is needed.
- The person who answered is a man.

We want to know if these events are independent, that is, if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

**Hint**: To clearly compare the answers by gender, it is best to place the data in a table.

In [9]:
# your code here
import pandas as pd

new_dict = {
    'gender': ['men','men','women','women'],
    'response': ['yes','no','yes','no'],
    'amount': [324,156,351,169]
}

data = pd.DataFrame(new_dict)

In [10]:
data

  gender response  amount
0    men      yes     324
1    men       no     156
2  women      yes     351
3  women       no     169

In [12]:
data.groupby('gender').agg({'amount':'sum'})

        amount
gender
men        480
women      520

In [16]:
data.groupby(['gender','response']).agg({'amount':'sum'})

                 amount
gender response
men    no           156
       yes          324
women  no           169
       yes          351

In [17]:
"""
We want to know if these events are independent, that is, 
if the fact of wanting more light depends on whether one is male or female. Are these events independent or not?

P ('men') = 48/100

P ('yes') = 675/1000

P ('men' union 'yes') = 324/1000

P ('men' union 'yes') = P ('men') * P ('yes')

324/1000 = 48/100 * 675/1000

0,324 = 0,324 

MEN AND WANTING LIGHT ARE DEPENDENT

P ('women') = 52/100

P ('yes') = 675/1000

P('women' union ' yes') = 351/1000

P ('women' union 'yes') = P ('women') * P ('yes')

351/1000 = 52/100 * 675/1000

0,351 = 0,351

WOMEN AND WANTING LIGHT ARE DEPENDENT

"""

"\nWe want to know if these events are independent, that is, \nif the fact of wanting more light depends on whether one is male or female. Are these events independent or not?\n\nP ('men') = 48/100\n\nP ('yes') = 675/1000\n\nP ('men' union 'yes') = 324/1000\n\nP ('men' union 'yes') = P ('men') * P ('yes')\n\n324/1000 = 48/100 * 675/1000\n\n0,324 = 0,324 \n\nMEN AND WANTING LIGHT ARE DEPENDENT\n\nP ('women') = 52/100\n\nP ('yes') = 675/1000\n\nP('women' union ' yes') = 351/1000\n\nP ('women' union 'yes') = P ('women') * P ('yes')\n\n351/1000 = 52/100 * 675/1000\n\n0,351 = 0,351\n\nWOMEN AND WANTING LIGHT ARE DEPENDENT\n\n"